<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách khách hàng</title>
</head>
<body>
    <h1>Danh sách khách hàng</h1>
    <a href="/customers/new">Thêm khách hàng mới</a>
    <br/><br/>
    <table>
        <thead>
            <tr>
                <th>Mã khách hàng</th>
                <th>Tên</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.customerID}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.phoneNumber}"></td>
                <td>
                    </td>
            </tr>
        </tbody>
    </table>
</body>
</html>